body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-zone-container {
  display: flex;
  justify-content: flex-end;
}

.time-zone,
.current-date {
  text-align: center;
  text-align: end;
  padding: 5px;
  margin: 0;
}

.current-time {
  text-align: end;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}
